QSpinBox {
    background-color: @theme.spin_box.background;
    color: @theme.spin_box.color;
    border-radius: 3;
}
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    background-color: @theme.spin_box.color;
    border-radius: 1;
    margin: 2 1;
    top: 1px;
    right: 1px;
}
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the top right corner */
    background-color: @theme.spin_box.color;
    color: transparent;
    border-radius: 1;
    margin: 2 1;
    bottom: 1px;
    right: 1px;
}
QSpinBox::up-arrow {
    border-left: 3px solid none;
    border-right: 3px solid none;
    border-bottom: 4px solid @theme.spin_box.color;
    width: 0px;
    height: 0px;
}
QSpinBox::down-arrow {
    border-left: 3px solid none;
    border-right: 3px solid none;
    border-top: 4px solid @theme.spin_box.color;
    width: 0px;
    height: 0px;
}
